replicaCount: 2

image:
  repository: ghcr.io/francesco070/chat_app
  tag: "latest"
  pullPolicy: IfNotPresent
  imagePullSecrets:
    - name: ghcr-secret

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000
  readOnlyRootFilesystem: false

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 4040
  targetPort: 4040

livenessProbe:
  tcpSocket:
    port: 4040
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  tcpSocket:
    port: 4040
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

startupProbe:
  tcpSocket:
    port: 4040
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 12
