name: Deploy Container

on:
  workflow_run:
    workflows: ["Elixir CI"]
    types:
      - completed
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'

    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_NAME=ghcr.io/francesco070/chat_app:latest
          
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

      - name: Delete old package versions
        uses: actions/delete-package-versions@v4
        with:
          package-name: 'chat_app'
          package-type: 'container'
          min-versions-to-keep: 1
          delete-only-untagged-versions: 'false'